/* Order */

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  border-style: dashed;
  border-color: #ff0000;
  height: calc(100vh - 80px); 
  overflow: auto; 
  }

  .menu h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .menu-btn:hover {
    background-color: #45a049;
  }
  
  .cart {
    margin-top: 20px;
    padding: 20px;
    background-color: #ae8a69;
    border: #000000;
    border-style:ridge;
    border-radius: 10px;

  }
  
  .cart h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cart ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cart li {
    margin-bottom: 10px;
  }
  
  .cart button {
    background-color: #f44336;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .cart button:hover {
    background-color: #da190b;
  }
  
  .checkout-btn {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
  }
  
  .checkout-btn:hover {
    background-color: #45a049;
  }

